# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo
*.pyd

# =========================
# Virtualenv
# =========================
venv/
ENV/
env/
.venv/

# =========================
# VSCode / IDE
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# Entornos y configuraciones
# =========================
.env
*.env
*.env.*

# =========================
# Logs y cachés
# =========================
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.sqlite

# =========================
# Otros
# =========================
.DS_Store
Thumbs.db